@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

$color-main: #212c42;
$color-secondary: #151c2b;
$color-btn: #525a6a;
$color-green-light: #a3ea2a;
$color-red-light: #eb0037;

body {
  background-color: $color-main;
  // min-height: 100vh;
  color: #ececec;
  font-family: "Source Sans Pro", "Ubuntu", sans-serif !important;
}

// wraper layout
.wrapper {
  border: 1px solid #ececec;
  background-color: $color-main;
  min-height: 95vh;
  border-radius: 10px;
}

.offical-header {
  background-color: $color-secondary;
  border-bottom: 0.1px solid #ececec7a;
  padding: 1rem 0;
}
#tooltip {
  display: none;
  position: absolute;
  background-color: black;
  padding: 2px;
  border: 1px solid #ddd;
  color: white;
  left: 53%;
  word-spacing: 4px;
  min-width: 200px;
  padding: 0.5rem 0;
  text-align: center;
}

// ultilities
.checked-icons {
  color: $color-green-light;
  font-size: 1.5rem;
}
.green-light {
  color: $color-green-light;
}
.grey-light {
  background-color: $color-btn;
  padding: 0.5rem;
  display: inline-block;
}
.red-light {
  color: $color-red-light;
}

.bg-green-light {
  background-color: $color-green-light;
}
.popUp {
  background-color: $color-secondary;
}
.progress-container {
  background-color: $color-secondary;
}

.font-heading {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 500;
  font-family: "Source Sans Pro", "Ubuntu", sans-serif !important;
}

.btn-container {
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;

  button,
  input[type="submit"] {
    cursor: pointer;
    background-color: $color-btn;
    width: 50%;
    margin: auto;
    padding: 0.5rem 0;
    transition: 0.3s all ease-in-out;
    border-radius: 10px;
    font-weight: 400;
    border: none;
    color: #ececec;
    font-size: 1.2rem;
    font-family: "Source Sans Pro", "Ubuntu", sans-serif !important;

    &:hover {
      background-color: #212c42;
      border: 1px solid #ececec;
    }

    &:active {
      outline: none;
    }
  }
}
.btn-container-2 {
  // width: 100%;
  text-align: center;

  button,
  input[type="submit"] {
    cursor: pointer;
    background-color: $color-btn;
    width: 100%;
    padding: 0.5rem 0;
    transition: 0.3s all ease-in-out;
    border-radius: 10px;
    font-weight: 400;
    border: none;
    color: #ececec;
    font-size: 1.2rem;
    font-family: "Source Sans Pro", "Ubuntu", sans-serif !important;

    &:hover {
      background-color: #212c42;
      outline: 1px solid #ececec;
      border: none;
    }

    &:active {
      border: none;
    }
  }
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.quiz__container {
  background-color: $color-secondary;
  position: relative !important;
  border: 3px solid $color-btn;
}

.quiz {
  padding: 6rem 0rem;
  overflow: hidden;
  margin: auto;
  position: relative;
  &__question {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    min-height: 110px;
    background-color: #212c42;

    position: relative;
    z-index: 10;
    margin-bottom: 3rem;
    h5 {
      z-index: 10000 !important;
      padding: 0rem 0;
      background-color: #212c42;
      width: 90%;
      margin: auto;
    }
  }

  &__slides {
    position: absolute;
    background-color: #212c42;
    z-index: 100;
    width: 80px;
    height: 50%;
    height: 100%;
    top: 0%;
    &:nth-of-type(1) {
      left: -4%;
      clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    }
    &:nth-of-type(2) {
      bottom: 0%;
      clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%);
      right: -4%;
    }
  }

  &__options-container {
    display: grid;
    width: 80%;
    gap: 20px 80px;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    min-height: 50px;
    background-color: $color-btn;
    position: relative;
    cursor: pointer;

    p {
      width: 100%;
      z-index: 100;
      background-color: $color-btn;
      text-align: center;
      line-height: 1.24rem;
    }
    &__slides {
      z-index: 10;
      position: absolute;
      background-color: $color-btn;
      width: 40px;
      height: 100%;
      top: 0%;
      &:nth-of-type(1) {
        left: -4%;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
      }
      &:nth-of-type(2) {
        bottom: 0%;
        clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%);
        right: -4%;
      }
    }
  }
}

.progress-container {
  transition: 3s all !important;
}

// .line-show-2
.line-show {
  position: absolute;
  border: 3px solid $color-btn;
  border-bottom: none;
  width: 120%;
  top: 50%;
  height: 80%;
  z-index: 1;
  overflow: hidden !important;
}

.line-show-2 {
  position: absolute;
  border-bottom: 3px solid $color-btn;
  top: -50%;
  height: 100%;
  overflow: hidden !important;
  z-index: -1;
  cursor: auto;
}
.line-no-1,
.line-no-3 {
  z-index: -2;
  border-left: 3px solid $color-btn;
  left: -24%;
  width: 190%;
  border-right: none;
}
.line-no-2 {
  width: 124%;
  border-right: 3px solid $color-btn;
}
.special-line-no-3 {
  width: 192%;
  left: -46%;
  top: -100%;
  height: 150%;
  border-right: 3px solid $color-btn;
  border-left: 3px solid $color-btn;
}
.special-quiz__options-container {
  grid-template-columns: 1fr;
  width: 50%;
  margin-top: 1rem;
}

.quiz__options:hover {
  transition: 0s all ease-in-out;
  background-color: #212c42;
  border: none;

  p {
    background-color: #212c42;
  }
  .quiz__options__slides {
    background-color: #212c42;
  }
  &__slides {
    background-color: #212c42;
  }
}

.room-back-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 620px;
  height: 95vh;
  margin: auto;
  flex: 1;
  img {
    // width: 100%;
    object-fit: cover;
    margin-top: -2rem;
    border-radius: 8px;
  }
}

$slider-name: typing-slider;
$typing-duration: 4s;

@keyframes typing {
  from {
    width: 100%;
  }
  90%,
  to {
    width: 0;
  }
}

.#{$slider-name} {
  position: relative;
}

.#{$slider-name} h4 {
  animation: slide $typing-duration;
}

.#{$slider-name} h4::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $color-secondary;
  animation: typing $typing-duration, cursor $typing-duration;
}

.room-image {
  animation: zoom-out-animation 0.8s ease-out;
  transform-origin: center center;
}
@keyframes zoom-out-animation {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1200px) {
  .offical-header {
    padding: 1.2rem 0;
  }
}
@media screen and (max-width: 1050px) {
  .quiz__question,
  .quiz__options-container {
    width: 90%;
  }
  .ceoroom-popup-container {
    position: relative !important;
    left: 0% !important;
    width: 100% !important;
    transform: translate(0%) !important;
    .popUp {
      margin: 0%;
      border-radius: 0%;
      width: 100%;
    }
  }
  .ceo-container {
    position: absolute;
    top: 0%;
    left: 0%;
  }
}
@media screen and (max-width: 750px) {
  .room-image-responsive {
    height: auto !important;
  }
  body {
    padding: 0% !important;
  }
  .wrapper {
    border: none;
  }
  .offical-header {
    padding: 0.5rem 0 !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .image-container {
      position: relative;
      margin-bottom: 0.8rem;
    }
  }
  .main-image-container {
    width: 600px !important;
  }
  .btn-container {
    button,
    input[type="submit"] {
      width: 80%;
    }
  }
}

.main-image-container {
  width: 700px;
  margin: auto;
  overflow: auto;
  position: relative;
  &__bg {
    width: 100%;
    height: 100%;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    cursor: pointer;
  }
}
area {
  background-color: green;
  padding: 1rem;
}
